.oy-form .error-background {
  border-radius: 4px;
  padding: 7px;
  background: #df1919;
  color: white;
  line-height: 1;
  font-size: 0.85em;
  font-weight: 500;
  margin-top: -9px;
  margin-bottom: 6px;
  padding-left: 15px;
}

.oy-form .error {
  color: #df1919;
  font-size: 0.85em;
  font-weight: 500;
  margin-top: -13px;
  margin-bottom: 6px;
  padding-left: 5px;
}
